<!-- wp:template-part {"slug":"ud_header","theme":"udemy","tagName":"header","className":"shadow"} /-->

<!-- wp:columns -->
<div class="wp-block-columns">
  <!-- wp:column {"width":"66.66%"} -->
  <div class="wp-block-column" style="flex-basis: 66.66%">
    <!-- wp:post-title {"className":"text-4xl mb-4 font-medium text-gray-700\u0022"} /-->

    <!-- wp:post-featured-image {"isLink":true} /-->

    <!-- wp:post-content {"className":"block rounded-lg overflow-hidden mb-4"} /-->
  </div>
  <!-- /wp:column -->

  <!-- wp:column {"width":"33.33%"} -->
  <div class="wp-block-column" style="flex-basis: 33.33%">
    <!-- wp:template-part {"slug":"ud_sidebar","theme":"udemy","area":"uncategorized"} /-->
  </div>
  <!-- /wp:column -->
</div>
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"ud_footer","theme":"udemy","tagName":"footer","className":"bg-gray-700 p-16"} /-->
