<!-- wp:template-part {"slug":"ud_header","theme":"udemy","tagName":"header","className":"shadow"} /-->

<!-- Search Block -->
<div class="wp-block-udemy-plus-search-form">
  <h1>Search: Your search term here</h1>
  <form>
    <input type="text" placeholder="Search" />
    <div class="btn-wrapper">
      <button type="submit">Search</button>
    </div>
  </form>
</div>

<!-- wp:template-part {"slug":"main","theme":"udemy"} /-->

<!-- wp:template-part {"slug":"ud_footer","theme":"udemy","tagName":"footer","className":"bg-gray-700 p-16"} /-->
