<!-- wp:template-part {"slug":"ud_header","theme":"udemy","tagName":"header","className":"shadow"} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group">
  <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
  <div class="wp-block-group">
    <!-- wp:post-author {"className":"post-author !mb-0 !pb-0 mr-4"} /-->

    <!-- wp:post-date {"format":"M j"} /-->
  </div>
  <!-- /wp:group -->

  <!-- wp:comments -->
  <div class="wp-block-comments">
    <!-- wp:comments-title {"showPostTitle":false,"className":"bi post-comment-count !mt-0"} /-->
  </div>
  <!-- /wp:comments -->
</div>
<!-- /wp:group -->

<!-- wp:post-title {"className":"text-4xl mb-4 font-medium text-gray-700\u0022"} /-->
<!-- wp:post-featured-image {"isLink":true} /-->
<!-- wp:post-content {"className":"block rounded-lg overflow-hidden mb-4"} /-->
<!-- wp:post-terms {"term":"post_tag","className":"post-content-tags mt-8"} /-->
<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div id="flex-border-border-gray-200-rounded-lg-my-8" class="wp-block-group">
  <!-- wp:post-navigation-link {"type":"previous","className":"basis-0 grow max-w-full py-5 px-3 transition-all hover:bg-gray-100 text-center border-r border-r-gray-200"} /-->

  <!-- wp:post-navigation-link {"className":"basis-0 grow max-w-full py-5 px-3 transition-all hover:bg-gray-100 text-center !mt-0"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"ud_footer","theme":"udemy","tagName":"footer","className":"bg-gray-700 p-16"} /-->
